*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 5px;
    background-color: #330867;
    color: white;
    font-family: 'Alegreya', serif;
}

.container-fluid{
    border-radius: 18px 18px 18px 18px;
    border: solid 2px black;
    margin-bottom: 5px;
}

#contendor-perfil{
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    
}

.modal-content{
    background-color: #330867;

}

.btn-img{
    margin-top: 200px;
    margin-left: 240px;
    width: 40px;
    height: 40px;
    position: absolute;
}

img{
    width:180px;
    height: 190px;
    border-radius: 50% 50%;
    margin-top: 80px;
    margin-left: 50px;
    border: solid 2px black;
    box-shadow: 2px 2px 2px 1px rgba(13, 10, 19, 0.534);
    caret-color: transparent;

}

#info{
    margin-left: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 15px
}

.social-icons{
    margin-top: 60px;
    transform: translate(0px, 200px);
}

.btn-media {
    display: block;
    float: right;
    margin: 5px;
    color: #330867;
}

.fa {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius:50%
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  
.fa-linkedin {
    background: #007bb5;
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  

#formacion{
    border: solid 2px black;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}

#editInfo{
    margin: 5px;
}

.btn-check:focus + .btn, .btn:focus{
    box-shadow: 0 0 0 0;
}


.card {
    display: flow-root;
    background-color: transparent;
    border: none;
}

.titulos{
    float: left;
}

.contenedor-edit{
    float: right;
    padding: 0px;
}

.menu-edit{
    padding: 0px;
    margin: 0px;
}

.btn-edit{
    list-style: none;
    height: 20px;
}

.btn{
    color: black;
    padding: 0px;
}

.btn-right{
    background-color: transparent;
    border: none;
}
